NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_CHAIN_ID=42431
MAYBEPAY_PROCESSOR_PRIVATE_KEY=
MAYBEPAY_SEED_SECRET=
TEMPO_TESTNET_RPC_URL=https://rpc.testnet.tempo.xyz
TEMPO_MAINNET_RPC_URL=https://rpc.tempo.xyz
